.main {
  display: flex;
  width: 98vw;
  height: 98vh;
  flex-direction: column;
}

main {
  margin: 50px auto;
}

main h1 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px 0px;
}

.list {
  margin: auto;
}

.list>div {
  margin-top: 30px;
}